.bgimg {
  opacity: 10%;
}
.QuoteStyle {
  /* background-color: rgba(140, 140, 140, 0.8); */
  font-family: serif;
  font-size: 17px;
  text-align: center;
  margin: 20px;
}
.hidden {
    display: none;
}

.clockStyle {
    color: black;
    /* background-color: rgba(140, 140, 140, 0.8); */
    font-family: serif;
    font-size: 25px;
    text-align: center;
    padding:20px;
    margin: 10px;
}
.clockStyle:hover {
    border-color: #3f51b5;
    background-color: white;
}

.HelloStyle {
    background-color: transparent;
    font-family: serif;
    font-size: 25px;
    padding:30px;
    margin: auto;
    width:50%;
    text-align: center;
    /* background-color: rgba(140, 140, 140, 0.8); */
}

.weatherStyle{
    /* background-color: rgba(140, 140, 140, 0.8); */
    font-family: serif;
    font-size: 17px;
    text-align: left;


    padding:20px;
    margin: 10px;
    /* margin: 20px; */
}

.InputTodo{
  /* background-color: rgba(140, 140, 140, 0.8); */
  font-family: serif;
  font-size: 17px;
  /* text-align: center; */
  margin: 10px;
  /* width: 50%; */
}
.input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  /* transition: width 0.5s ease-in-out; */
}
.input:focus{
  border: 3px solid #555;
}
.todolist{
  background-color: rgba(140, 140, 140, 0.8);
  font-family: serif;
  font-size: 17px;
  padding: auto;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  .column.left {
    width: 25%;
  }
  
  .column.middle {
    width: 40%;
  }
  
  .column.right {
    width: 25%;
  }


